body {
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
  color: #6c7176; }

.section {
  max-width: 50em;
  margin: auto;
  text-align: center; }

.u-list {
  list-style-type: none; }
