body {
	font-family: 'Open Sans', sans-serif;
	font-weight: light;
	color: #6c7176;
}
a {
	text-decoration: none;
}
.section {
	max-width: 50em;
	margin: auto;
	text-align: center;
}
.u-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0.6em 0;
	}

}
.btn {
	background-color: #547C85;
	color: #fff;
	padding: .15em .4em;
	display: inline-block;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	&:hover {
		color: #F1C15C;
	}
}