/**
*   VARS
**/

// font-sizes
$font-size-huge: 2.8em;
$font-size-big: 2em;
$font-size-medium: 1.4em;

// colors929DC7  66A0C4

$def-color-1: #FFFFFF;
$def-color-2: #B9CED2;

$border-color-1: #9C9FA5;

$def-font-color: #6c7176;
$font-color-highlight: #A99929;
$font-color-hover-1: #C3B919;

$darkblue: #3F658B;
@mixin prefixr($var, $val) {
	-webkit-#{$var}: $val;
	-moz-#{$var}: $val;
	-o-#{$var}: $val;
	-ms-#{$var}: $val;
	$var: $val;
}

.jslghtbx {
	font-family: sans-serif;
	overflow: auto;
	visibility: hidden;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	&.jslghtbx-active {
		visibility: visible;
		background-color: rgba(0,0,0,0.85);
	}
	&.jslghtbx-ie8 {
		background-image: url('../img/trans-bck.png');
	}
}
/* loading-image */
.jslghtbx-loading-img {
	margin-top: -60px;
	margin-left: -60px;	
	width: 120px;
	height: 120px;
	top: 50%;
	left: 50%;
	display: none;
	position: absolute;
	z-index: -1;
}
.jslghtbx.jslghtbx-loading .jslghtbx-loading-img {
	display: block;
}
.jslghtbx-nooverflow {
	overflow: hidden !important; // prevent showing of scrollbars on prev/next
}
.jslghtbx-contentwrapper {
	margin: auto;
	visibility: hidden;
	&> img {
		background: #fff;
		padding: .5em;
		display: none;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
}
.jslghtbx-ie8 .jslghtbx-contentwrapper > img {
	display: block;
}
.jslghtbx-contentwrapper.jslghtbx-wrapper-active {
	visibility: visible;
	&> img {
		display: block;
	}
}

/* Animation Stuff */
.jslghtbx-contentwrapper > img.jslghtbx-animate-transition  {
	@include prefixr(transition, all .2s ease-in-out);
}
.jslghtbx-contentwrapper > img.jslghtbx-animating-next  {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.jslghtbx-contentwrapper > img.jslghtbx-animating-prev  {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.jslghtbx-contentwrapper > img.jslghtbx-animate-init {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* IE8 Fix */
.jslghtbx-ie8.jslghtbx,
.jslghtbx-ie8 .jslghtbx-contentwrapper
{
	display: none;
	&.jslghtbx-active {
		display: block;
	}
}
.jslghtbx-close {
	position: fixed;
	right: 23px;
	top: 23px;
	margin-top: -4px;
	font-size: 2em;
	color: $def-color-1;
	cursor: pointer;
	@include prefixr(transition, all .3s ease-in-out);
	&:hover {
		text-shadow: 0 0 10px #fff;
	}
}
.jslghtbx-next,
.jslghtbx-prev {
	display: none;
	position: fixed;
	top: 50%;
	max-width: 6%;
	max-height: 250px;
	cursor: pointer;	
	@include prefixr(transition, all .3s ease-in-out);
	&.jslghtbx-active {
		display: block;
	}
	&> img {
		width: 100%;
	}
}
.jslghtbx-next {
	right: .6em;
	@media screen and(min-width: 451px) {
		right: .6em;
	}
	@media screen and(max-width: 450px) {
		right: .2em;
	}
}
.jslghtbx-prev {
	left: .6em;
	@media screen and(min-width: 451px) {
		left: .6em;
	}
	@media screen and(max-width: 450px) {
		left: .2em;
	}
}

.jslghtbx-thmb {
	@media screen and(min-width: 451px) {
		margin: 1em;
	}
	@media screen and(max-width: 450px) {
		margin: 1em 0;
	}
	padding: 2px;
	max-width: 100%;
	max-height: 140px;
	cursor: pointer;
	box-shadow: 0px 0px 3px 0px #000;
	@include prefixr(transition, all .3s ease-in-out);
	&:hover {
		box-shadow: 0px 0px 14px 0px #000;
	}
}